{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-4 pb-16">
    <div class="row">
      <div class="col-12">
        <h1 class="title">{{ .Title | default .Site.Title }}</h1>
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p>{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>

        <div class="content">
          <p>
            <b>As binary</b>: {{.Site.Data.random.random_binary}}
            <br>
            <b>As uint32</b>: {{lang.NumFmt 0 .Site.Data.random.random_int}}
          </p>

          <p>
            <b>Timestamp (UTC)</b>: {{.Site.Data.random.timestamp}}
            <br>
            <b>Block number</b>: {{.Site.Data.random.block}}
            <br>
            <b>Block hash:</b><br>{{.Site.Data.random.block_hash}}
          </p>

        </div>

        <a class="button button-primary mb-2" href="{{ .Site.Params.homepage_button_link | relURL }}">{{ .Site.Params.homepage_button_text }}</a>

      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
